/*Default*/
* { 
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box; 

    --green-claro: #D2DC3D;
    --green-300: #87C34A;
    --cinzaclaro: #D6DADB;
    --cinza300: #838588;
    --branco: #FFFFFF;
    --branco300: #F8F8F8;
    --black: #333;
    --black300: #000000c8;
    --azul: #0D6A90;
}

.abc-formulario {
    display: inline-block;
    position: relative;

    width: 100vw;
    height: 100vh;

    background-color: var(--branco);
}

.formulario {
    position: absolute;

    width: 100%;
    max-width: 1480px;
    margin: 0 auto;

    background-color: var(--branco);
}

.formulario h3 {
    font-size: 30px;
    text-align: center;
    padding-top: 8%;
    color: var(--azul);
}

.abc-formulario .formulario .abc-linha-formulario {
    width: 95px;
    height: 2px;
    background-color: var(--azul);
    margin: 50px 48%;
}

.abc-formulario .formulario p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.abc-formulario .form {
    position: relative;
    width: 100%;
    height: 57%;
    /*48rem  48%*/
    background-color: var(--branco);
}

.form {
    display: block;
    box-sizing: border-box;
}

.form1 {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    margin-bottom: 1%;
}

.form1_esquerdo,
.form1_center,
.form1_direito {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 62px;
}

.form1_esquerdo {
    left: 20px;
}

.form1_center {
    float: center;
    margin: auto 40%;
}

.form1_direito {
    right: 20px;
}

.form1_esquerdo label,
.form1_center label,
.form1_direito label {
    display: inline-block;
    font-size: 18px;
    margin-left: 13%;
    margin-bottom: 5px;
    color: var(--azul);
}

.form1_esquerdo input[type=text],
.form1_center input[type=email],
.form1_direito input[type=tel] {
    width: 67%;
    height: 25px;
    font-size: 18px;
    border: 0;
    margin-left: 15%;
    border-bottom: 1px solid var(--cinzaclaro);
    color: var(--cinza300);
}

.form2 {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    margin-bottom: 1%;
}

.form2_esquerdo,
.form2_center,
.form2_direito {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 62px;
}

.form2_esquerdo {
    left: 20px;
}

.form2_center {
    float: center;
    margin: auto 40%;
}

.form2_direito {
    right: 20px;
}

.form2_esquerdo label strong,
.form2_center label strong,
.form2_direito label strong {
    display: inline-block;
    font-size: 18px;
    margin-left: 13%;
    margin-bottom: 5px;
    color: var(--azul);
}

.form2_esquerdo select,
.form2_center select,
.form2_direito select {
    width: 67%;
    height: 25px;
    font-size: 18px;
    border: 0;
    margin-left: 15%;
    border-bottom: 1px solid var(--cinzaclaro);
    color: var(--cinza300);
}

.form3 {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    margin-bottom: 1%;
}

.form3 strong {
    position: absolute;
    display: flex;
    width: 22%;
    font-size: 18px;
    margin-left: 4%;
    margin-bottom: 5%;
    color: var(--azul);
}

.form3-ambiente {
    display: flex;
    margin: 2% 3% 0px 4%;
}

.form3 input[type=radio] {
    width: 15%;
    height: 15px;
    font-size: 10px;
    color: var(--cinza300);
}

.form3 label {
    display: inline-block;
    font-size: 14px;
    /*margin-left: 13%;*/
    margin-bottom: 5px;
    color: var(--azul);
}

.form3-mobile {
    display: none;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    margin-bottom: 1%;
}

.form3-mobile strong {
    position: absolute;
    display: flex;
    width: 22%;
    font-size: 18px;
    margin-left: 4%;
    margin-bottom: 5%;
    color: var(--azul);
}

.form3-ambiente-mobile {
    display: flex;
    flex-direction: column;
    height: 20rem;
    margin: 2% 3% 0px 4%;
}

.form3-ambiente-mobile .ambiente-top,
.form3-ambiente-mobile .ambiente-center,
.form3-ambiente-mobile .ambiente-bottom {
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.form3-mobile input[type=radio] {
    width: 15%;
    height: 15px;
    font-size: 10px;
    /* margin-left: 15%;*/
    color: var(--cinza300);
}

.form3-mobile label {
    display: inline-block;
    font-size: 14px;
    /*margin-left: 13%;*/
    margin-bottom: 5px;
    color: var(--azul);
}

.form3-ambiente-mobile .ambiente-bottom input[type=radio] {
    margin: 0px;
    padding: 0px;
}

.form-abc {
    display: block;
    position: relative;
    width: 100%;
    height: 305px;
    margin-top: 3%;
}

.form-abc input[type=checkbox] {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-top: 4%;
    margin-left: 40%;
    margin-right: 10px;
}

.form-abc label {
    font-size: 20px;
}

.cta-container {
    display: flex;
    align-items: center;
}

.cta-button {
    all: unset;

    display: inline-block;

    background-color: #e3062d !important;
    color: #fff !important;
    font-weight: 800;

    padding: 8px 10px;

    border-radius: 46px;
    text-decoration: none !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out !important;

    text-align: center;
    font-size: 14px;

    white-space: nowrap;
    position: relative;
    z-index: 1;

    cursor: pointer;
    overflow: hidden;
    animation: cta-button 5s infinite ease-in-out;
}

.cta-button::before {
    content: "";
    width: 50%;
    height: 100%;
    background: rgba(255, 170, 170, 0.3);
    filter: blur(12px);
    transform: skewX(-10deg);
    animation: shine-effect 2.5s infinite ease-in-out alternate;
}

@keyframes shine-effect {
    0% {
        left: -50%;
    }

    100% {
        left: 150%;
    }
}

@keyframes cta-button {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    60% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-2px);
    }

    80% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.cta-button:link,
.cta-button:visited {
    color: #fff !important;
    text-decoration: none !important;
}

.cta-button:hover {
    background-color: #20A389 !important;
    box-shadow: 0 0 15px 5px rgba(32, 163, 137, 0.4);
    color: #fff !important;
}

.cta-button:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

@media (max-width: 430px) {
    .cta-button {
        font-size: clamp(0.75rem, 1.5vw, 1rem);
        padding: 10px 0.75rem;
        font-weight: 800;
    }
}

@media (max-width: 900px) {
    .cta-button {
        padding: 0.75rem 1rem;
        font-weight: 800;
    }
}

/*Responsivo*/
@media screen and (max-width: 1280px) {
    .formulario {
        width: 100%;
        margin: auto !important;
        padding: auto !important;
    }
}

@media screen and (max-width: 1124px) {

    .formulario {
        width: 100%;
        margin: auto !important;
        padding: auto !important;
    }

    .formulario h3 {
        font-size: 23px;
    }

    .abc-formulario .formulario .abc-linha-formulario {
        width: 55px;
    }

    .abc-formulario .formulario p {
        font-size: 16px;
    }

    .form1_esquerdo input[type=text],
    .form1_center input[type=email],
    .form1_direito input[type=tel] {
        width: 86%;
    }

    .form2_esquerdo select,
    .form2_center select,
    .form2_direito select {
        width: 86%;
    }

    .form-abc input[type=checkbox] {
        margin-left: 10%;
    }

    .form-abc label {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {

    .abc-formulario,
    .formulario {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .form {
        width: 100%;
    }

    .form1,
    .form2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
    }

    .form1_esquerdo,
    .form1_center,
    .form1_direito,
    .form2_esquerdo,
    .form2_center,
    .form2_direito {
        display: block;
        width: 100%;
    }

    .form1_esquerdo,
    .form2_esquerdo {
        width: 82%;
        left: 23px;
    }

    .form1_center,
    .form2_center {
        width: 82%;
        top: 35%;
        left: -37%;
    }

    .form1_direito,
    .form2_direito {
        width: 82%;
        top: 70%;
        left: 23px;
    }

    .form1_esquerdo label,
    .form1_center label,
    .form1_direito label,
    .form2_esquerdo label strong,
    .form2_center label strong,
    .form2_direito label strong {
        margin-left: 15%;
    }

    .form-abc input[type=checkbox] {
        margin-left: 16%;
        margin-top: -2%;
    }

    .form-abc label {
        font-size: 12px;
    }

    .form3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 884px) {

    .form3 {
        display: none;
    }

    .form3-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
    }

    .form3-mobile strong {
        margin-top: 2%;
        margin-left: 15%;
        width: 100%;
    }

    .form3-ambiente-mobile .ambiente-top {
        width: 86%;
        margin: 5% 10% 0px 10%;
    }

    .form3-ambiente-mobile .ambiente-center {
        width: 86%;
        margin: 1% 10% 0px 10%;
    }

    .form3-ambiente-mobile .ambiente-bottom {
        width: 86%;
        margin: 1% 7% 0px 7%;
    }

    .form-abc input[type=checkbox] {
        margin-left: 25%;
    }

}

@media screen and (max-width: 440px) {
    .formulario h3 {
        font-size: 25px;
    }

    .form1_esquerdo label,
    .form1_center label,
    .form1_direito label {
        font-size: 14px;
    }

    .form2_esquerdo label strong,
    .form2_center label strong,
    .form2_direito label strong {
        font-size: 14px;
    }

    .form3-mobile strong {
        margin-bottom: 20px;
    }

    .form3-ambiente-mobile .ambiente-top input[type=radio],
    .form3-ambiente-mobile .ambiente-center input[type=radio],
    .form3-ambiente-mobile .ambiente-bottom input[type=radio],
    .form3-ambiente-mobile .ambiente-top label,
    .form3-ambiente-mobile .ambiente-center label,
    .form3-ambiente-mobile .ambiente-bottom label {
        margin-top: 25px;
    }

    .form-abc input[type=checkbox] {
        margin-left: 2%;
    }

}