* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

.app-button {
    margin: 60px;
}

.app-button button {
    background-color: #D71920 !important;
    border: 1px solid #D71920 !important;
    color: #ffffff;
    font-weight: bold;

    font-size: 23px;
    width: 268px;
    height: 60px;
    line-height: 30px;
    border-radius: 55px;
    cursor: pointer;
    transition: 0.9s;
}

.app-button button:hover {
    scale: 1.2;
    background-color: #a11419 !important;
    border: 1px solid #a11419 !important;
}

/*Primeira parte da footer*/
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;

    background-image: url("https://abcdaconstrucao.my.site.com/flamengo/sfsites/c/cms/delivery/media/MCZ6QKV4O7CNBVJOPIBZWOBB3NGA");
    background-size: cover;
    background-position: left;

    height: 60vh;
    width: 100%;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 30px;
    padding-bottom: 20px;
}

.footer-abc,
.footer-instagram,
.footer-facebook,
.footer-youtube {
    width: 36px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.footer-links a {
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 60px;
}

.footer-links a:hover {
    color: red !important;
    font-weight: bold;
}

/*Segunda parte da footer*/
.container {
    width: 100%;
    padding-block: 120px;
    background-color: #121212;
}

.flex-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 52px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center !important;
    align-items: center;

    background-color: #121212;
}

.flex-item {
    flex: 1 1 200px;
    box-sizing: border-box;

    justify-content: center !important;
    align-items: center;
    text-align: left;

    font-size: 15px;

    color: #FFFFFF;
} 

.img-center {
    text-align: right;
}

.img-center img {
    width: 28%;
}

.politica-privacidade {
    text-decoration: none !important;
    color: red !important;
}

.politica-privacidade:hover {
    color: white !important;
}

.footer-latest-text {
    font-size: 15px;
    text-align: center;
    background-color: #121212;
    color: #5C5C5C;
    padding: 15px;
}

/* Parte do modal */
@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-overlay {
    animation: fadeInModal 0.35s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    animation: fadeInModal 0.75s ease-in-out;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  width: 100%;  
  max-width: 420px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1001;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-body {
    margin-top: 20px;
}

/*
.modal-body label {
    display: block;
    margin-top: 10px;
    text-align: left;
}
*/

.modal-body label,
.modal-body .label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

.modal-body input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lb-checkbox {
  display: block;
  text-align: left;
}

.lb-checkbox input{ 
  width: 10px;
  height: 10px;
}

.lb-checkbox span{ 
  font-size: 10px; 
  text-align: left;
  padding-left: 4px;
}

.modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #D71920 !important;
    border: 1px solid #D71920 !important;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #a11419 !important;
    border: 1px solid #a11419 !important;
}

.submit-btn2 {
    padding: 10px 20px;
    background-color: #391a1c6d !important;
    border: 1px solid #391a1c6d !important;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn2:hover {
    background-color: #040000ae !important;
    border: 1px solid #040000ae !important;
}

/*Respons*/
@media (max-width: 768px) {

    .container {
        width: 100%;
    }

    .flex-container {
        flex-direction: column;
        text-align: center;
        padding-inline: 32px;
    }

    .left-item,
    .center-item,
    .right-item {
        margin: 0px;
    } 

    .center-item {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .img-center img {
        width: 100%;
    }

    .text-left,
    .text-right {
        text-align: justify;
    }

}