@font-face {
    font-family: "Noto Sans";
    src: url("https://abcdaconstrucao.my.site.com/flamengo/sfsites/c/cms/delivery/media/") format("TrueType");
    font-weight: 100 900;
    font-style: normal;
  }
  
  * {
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
  }
  
  .primeira-dobra {
    background: url('https://abcdaconstrucao.my.site.com/flamengo/sfsites/c/cms/delivery/media/MCWMHHVV4VCVFLXNXTIZ7PLIQT44') no-repeat;
    background-size: cover;
  
    width: 100vw;
    height: 100vh;
  
    padding-inline: 70px;
    padding-block: 60px;
  
    margin: 86px 0px 0px 0px;
  }
  
  .transbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .logo-primeira-dobra {
    padding-bottom: 82px;
    z-index: 10;
  }
  
  .logo-primeira-dobra .logo-pdbr {
    width: 106px;
  }
  
  .primeira-dobra-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
    font-size: 30px;
  }
  
  .primeira-dobra-texto h1 {
    text-align: right;
    max-width: 50%;
    font-weight: 800;
    font-size: 40px;
    color: #D71920;
    padding-bottom: 22px;
  }
  
  .primeira-dobra-texto p {
    text-align: right;
    max-width: 46%;
    font-size: 40x;
    color: #FFFFFF;
    padding-bottom: 32px;
  }
  
  /* Parte do botão */
  
  .button-cadastro {
    text-align: center !important;
  
    color: #FFFFFF !important;
    background-color: #D71920 !important;
    border: 1px solid #D71920 !important;
    font-weight: bold;
    border-radius: 25px !important;
    font-size: 16px !important;
  
    width: 200px;
    height: 40px;
    z-index: 10;
  }
  
  .button-cadastro:hover {
    background-color: #ad0606f8 !important;
    border: 1px solid #ad0606f8 !important;
  }
  
  /* Parte do modal */
  @keyframes fadeInModal {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .modal-overlay {
    animation: fadeInModal 0.35s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    animation: fadeInModal 0.75s ease-in-out;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;  
    max-width: 420px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1001;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-body {
    margin-top: 20px;
  }
  
  .modal-body label,
  .modal-body .label {
      display: block;
      margin-top: 10px;
      text-align: left;
  }
  
  .modal-body input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .lb-checkbox {
    display: block;
    text-align: left;
  }
  
  .lb-checkbox input{ 
    width: 10px;
    height: 10px;
  }
  
  .lb-checkbox span{ 
    font-size: 10px; 
    text-align: left;
    padding-left: 4px;
  }
   
  .modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #D71920;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn2 {
    padding: 10px 20px;
    background-color: lightgray;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo da mensagem de sucesso */
  .success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  /* Estilo da mensagem de erro */
  .error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  /* Primeira dobra - TABLET */
  @media (max-width: 840px) {
  
    .primeira-dobra {
      /* background: url('https://abcdaconstrucao.my.site.com/flamengo/sfsites/c/cms/delivery/media/MCWMHHVV4VCVFLXNXTIZ7PLIQT44');
      background-repeat: no-repeat;
      background-size: 100%; 
      background-position: center;*/
      background-color: #000000;
  
      padding-inline: 20px;
      padding-block: 40px;
  
      position: relative;
    }
  
    .transbox {
      position: absolute;
      top: 70%;
      left: 0;
  
      align-items: center;
      justify-content: center;
  
      padding-inline: 0px;
      padding-block-start: 4px;
      padding-block-end: 44px;
  
      margin: 0px;
      width: 100%;
      height: 100%;
  
      background-color: #000000fd;
      /*opacity: 0.9;*/
    }
  
    .logo-primeira-dobra {
      visibility: hidden;
    }
  
    .primeira-dobra-texto {
      position: absolute;
      top: 22%;
      left: 0;
  
      align-items: start;
      justify-content: start;
  
      max-width: 100%;
      padding-inline: 18px;
  
      margin: 0px;
    }
  
    .primeira-dobra-texto h1 {
      max-width: 100%;
      padding-inline: 12px;
      text-align: justify;
      padding-bottom: 16px;
      color: #D71920;
      font-size: 28px;
    }
  
    .primeira-dobra-texto p {
      max-width: 100%;
      padding-inline: 12px;
      text-align: justify;
      padding-bottom: 38px;
      color: #fff;
      font-size: 26px;
    }
  
    .button-cadastro {
      margin: 0px auto;
    }
  }
  
  /* Primeira dobra - Mobile */
  @media (max-width: 420px) {
    .primeira-dobra {
      height: 45vh;
    }
  }