* {
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
}

.segunda-dobra {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: black;

    padding-block-start: 262px;
    padding-block-end: 92px;
}

.campaign-container {
    max-width: 1200px;

    margin: 12px auto;

    background-color: #fff;
    border-radius: 15px;

    overflow: hidden;
    box-shadow: 0 4px 8px rgba(202, 198, 198, 0.1);

    padding-inline: 16px;
    padding-block: 32px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    width: 100%;

    justify-content: center;
    align-items: center;

    padding: 22px;
    background-color: #FFFFFF;
}

.flex-item {
    flex: 1 1 250px;
    box-sizing: border-box;
    padding: 4px;
}

.image-container {
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
}

.left-section h2 {
    color: #D71920;
    font-size: 24px;
    font-weight: 700;
    padding-block: 12px;
}

.left-section p {
    color: #666;
    font-size: 16px;
    max-width: 90%;
    padding-block-end: 12px;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 42px;
}

.right-section h2 {
    color: #D71920;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.right-section p {
    color: #666;
    font-size: 16px;
    max-width: 90%;
    padding-block-end: 12px;
}

/*Parte do botão*/
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-block-start: 32px;
    padding-block-end: 25px;

    z-index: 10;
}

.button-cadastro {
    font-size: 16px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    background-color: #D71920 !important;
    border: 1px solid #D71920 !important;
    font-weight: bold;
    border-radius: 25px !important;
    width: 200px;
    height: 40px;
}

.button-cadastro:hover {
    background-color: #ad0606f8 !important;
    border: 1px solid #ad0606f8 !important;
}

.segunda-dobra-triple-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.triple-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #D71920;
    color: white;

    border-radius: 5px;
    border: 2px solid white;

    width: 300px;
    max-width: 100%;
    height: 175px;

    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    transition: 0.7s;
}

.triple-card-item:hover {
    transform: scale(0.9);
}

.triple-card-item img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.triple-card-item img.card-um {
    padding-bottom: 18px
}

.triple-card-item img.card-dois {
    padding-bottom: 18px
}

.triple-card-item img.card-tres {
    padding-bottom: 16px
}

.triple-card-item p {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 80%;
}

.active {
    background-color: #D71920;
}

/* Parte do modal */
@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-overlay {
    animation: fadeInModal 0.35s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    animation: fadeInModal 0.75s ease-in-out;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  width: 100%;  
  max-width: 420px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1001;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-body {
    margin-top: 20px;
}

/*
.modal-body label {
    display: block;
    margin-top: 10px;
    text-align: left;
}
*/

.modal-body label,
.modal-body .label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

.modal-body input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.lb-checkbox {
  display: block;
  text-align: left;
}

.lb-checkbox input{ 
  width: 10px;
  height: 10px;
}

.lb-checkbox span{ 
  font-size: 10px; 
  text-align: left;
  padding-left: 4px;
}

.modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #D71920 !important;
    border: 1px solid #D71920 !important;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #ad0606f8 !important;
    border: 1px solid #ad0606f8 !important;
}

.submit-btn2 {
    padding: 10px 20px;
    background-color: #391a1c6d !important;
    border: 1px solid #391a1c6d !important;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn2:hover {
    background-color: #040000ae !important;
    border: 1px solid #040000ae !important;
}

/********************Respons**************************/

@media (max-width: 840px) {
    .segunda-dobra {
        width: 100vw;
        padding-block-start: 522px;
        padding-block-end: 162px;
    }

    .campaign-container {
        padding: 12px;
        width: 94vw;
    }

    .left-section {
        width: 100%;
        max-width: 100%;
        padding-inline: 12px;
    }

    .left-section h2,
    .left-section p {
        text-align: justify;
    }

    .right-section {
        flex-direction: column;
    }

    .right-section h2,
    .right-section p {
        text-align: justify;
    }

    /* Segunda parte */
    .segunda-dobra-triple-card {
        flex-direction: column;
        gap: 20px;
        padding-block: 34px;
    }

    .triple-card-item {
        width: 92vw;
    }

    .triple-card-item p {
        max-width: 60%;
    }
}