* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;

    --cinzaclaro: #f0f0f0;
    --branco: #FFFFFF;
    --black: #333;
    --black2: #292929;
    --azul: #0D6A90;
}

.campanha {
    width: 100%;
    max-width: 1480px;

    margin: 0 auto;
}

.negociacao {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flexbox {
    flex: 1 1 460px;
    box-sizing: border-box;
    padding: 20px;
}

.negociacao-left {
    height: 80vh;
    width: 100%;
}

.negociacao-left img {
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: auto;
}

.negociacao-right {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    height: 80vh;
}

.negociacao-right p {
    text-align: left;
    font-size: 1.8em;
    line-height: 35px;
    padding: 0 80px;
    letter-spacing: .2rem;
}

.negociacao-right p span {
    font-weight: bold;
    font-size: 1.0em;
}